<a href="https://colab.research.google.com/github/SwapanGupt/data690_SwapanGupta/blob/main/Individual_project_PartB/Individual_Project_PartB_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import plotly.express as px

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/DATA-690-FALL-2021/data690_SwapanGupta/main/Individual_project_PartB/wdi_data%20(5).csv")
df.head()

   Unnamed: 0  Year  ...         Income Group Lending Type
0           0  2015  ...           Low income          IDA
1           1  2016  ...           Low income          IDA
2           2  2017  ...           Low income          IDA
3           3  2018  ...           Low income          IDA
4           4  2015  ...  Upper middle income         IBRD

[5 rows x 9 columns]

In [5]:
df.drop(columns=["Unnamed: 0"],inplace=True)
df

      Year    value  ...         Income Group Lending Type
0     2015   22.200  ...           Low income          IDA
1     2016   81.640  ...           Low income          IDA
2     2017   91.890  ...           Low income          IDA
3     2018  111.720  ...           Low income          IDA
4     2015  177.800  ...  Upper middle income         IBRD
...    ...      ...  ...                  ...          ...
6236  2015   59.534  ...  Lower middle income        Blend
6237  2016   60.294  ...  Lower middle income        Blend
6238  2017   60.812  ...  Lower middle income        Blend
6239  2018   61.195  ...  Lower middle income        Blend
6240  2019   61.490  ...  Lower middle income        Blend

[6241 rows x 8 columns]

In [6]:
df_ind = df[df["Country Name"]=='India']
df_ind.head()

      Year          value  ...         Income Group Lending Type
308   2015  101813.080000  ...  Lower middle income         IBRD
309   2016  112167.340000  ...  Lower middle income         IBRD
310   2017  121631.310000  ...  Lower middle income         IBRD
311   2018  135787.790000  ...  Lower middle income         IBRD
1091  2015       8.039628  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [7]:
df_usa = df[df["Country Name"]=='United States']
df_usa.head()

      Year          value  ... Income Group    Lending Type
748   2015  429988.890000  ...  High income  Not classified
749   2016  427264.630000  ...  High income  Not classified
750   2017  432216.490000  ...  High income  Not classified
751   2018  422807.710000  ...  High income  Not classified
1498  2015      21.759867  ...  High income  Not classified

[5 rows x 8 columns]

In [8]:
df_chi = df[df["Country Name"]=='China']
df_chi.head()

     Year          value  ...         Income Group Lending Type
140  2015  407974.610000  ...  Upper middle income         IBRD
141  2016  438348.740000  ...  Upper middle income         IBRD
142  2017  473438.510000  ...  Upper middle income         IBRD
143  2018  528263.250000  ...  Upper middle income         IBRD
926  2015      30.423108  ...  Upper middle income         IBRD

[5 rows x 8 columns]

In [9]:
df_uk = df[df["Country Name"]=='United Kingdom']
df_uk.head()

      Year         value  ... Income Group    Lending Type
744   2015  99616.020000  ...  High income  Not classified
745   2016  99366.170000  ...  High income  Not classified
746   2017  99128.720000  ...  High income  Not classified
747   2018  97680.900000  ...  High income  Not classified
1492  2015     22.634223  ...  High income  Not classified

[5 rows x 8 columns]

In [10]:
df_aus = df[df["Country Name"]=='Australia']
df_aus.head()

     Year         value  ... Income Group    Lending Type
32   2015  52945.010000  ...  High income  Not classified
33   2016  53781.620000  ...  High income  Not classified
34   2017  53428.790000  ...  High income  Not classified
35   2018  53610.220000  ...  High income  Not classified
821  2015     19.817927  ...  High income  Not classified

[5 rows x 8 columns]

In [11]:
df_uae = df[df["Country Name"]=='United Arab Emirates']
df_uae.head()

      Year        value  ... Income Group    Lending Type
740   2015  2294.580000  ...  High income  Not classified
741   2016  2484.160000  ...  High income  Not classified
742   2017  2899.670000  ...  High income  Not classified
743   2018  3144.890000  ...  High income  Not classified
1487  2015     5.311027  ...  High income  Not classified

[5 rows x 8 columns]

In [12]:
frames=[df_aus,df_chi,df_ind,df_uae,df_uk,df_usa]
result= pd.concat(frames)
result

      Year         value  ... Income Group    Lending Type
32    2015  52945.010000  ...  High income  Not classified
33    2016  53781.620000  ...  High income  Not classified
34    2017  53428.790000  ...  High income  Not classified
35    2018  53610.220000  ...  High income  Not classified
821   2015     19.817927  ...  High income  Not classified
...    ...           ...  ...          ...             ...
6186  2015     78.690244  ...  High income  Not classified
6187  2016     78.539024  ...  High income  Not classified
6188  2017     78.539024  ...  High income  Not classified
6189  2018     78.639024  ...  High income  Not classified
6190  2019     78.787805  ...  High income  Not classified

[208 rows x 8 columns]

In [13]:
df_2015 = result.query("Year == 2015")
df_2015.sample(10)

      Year         value  ...         Income Group    Lending Type
3910  2015  3.207390e+08  ...          High income  Not classified
1487  2015  5.311027e+00  ...          High income  Not classified
2926  2015  1.371220e+09  ...  Upper middle income            IBRD
4346  2015  1.230000e+01  ...  Lower middle income            IBRD
5230  2015  2.717420e+00  ...          High income  Not classified
1580  2015  4.628833e+04  ...          High income  Not classified
3898  2015  9.262896e+06  ...          High income  Not classified
6176  2015  7.728500e+01  ...          High income  Not classified
926   2015  3.042311e+01  ...  Upper middle income            IBRD
1492  2015  2.263422e+01  ...          High income  Not classified

[10 rows x 8 columns]

In [14]:
df_2015 = df_2015.query("indicator in ['NY.GDP.PCAP.PP.CD','SP.POP.TOTL','GB.XPD.RSDV.GD.ZS','IP.JRN.ARTC.SC','TX.VAL.TECH.MF.ZS']"	)
df_2015.head()

      Year         value  ... Income Group    Lending Type
32    2015  5.294501e+04  ...  High income  Not classified
821   2015  1.981793e+01  ...  High income  Not classified
1580  2015  4.628833e+04  ...  High income  Not classified
2740  2015  2.381600e+07  ...  High income  Not classified
4900  2015  1.919430e+00  ...  High income  Not classified

[5 rows x 8 columns]

In [15]:
df_pivot = df_2015.pivot(index =['Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Code          Country Name  ...   SP.POP.TOTL TX.VAL.TECH.MF.ZS
0                  ARE  United Arab Emirates  ...  9.262896e+06          5.311027
1                  AUS             Australia  ...  2.381600e+07         19.817927
2                  CHN                 China  ...  1.371220e+09         30.423108
3                  GBR        United Kingdom  ...  6.511622e+07         22.634223
4                  IND                 India  ...  1.310152e+09          8.039628

[5 rows x 10 columns]

In [16]:
fig = px.pie(
    df_pivot,
    values='NY.GDP.PCAP.PP.CD', 
    names='Country Name',
    title='TOP 6 Countries by 2015 GDP per capita,PPP(Current International $)',
    hover_name='Country Code',
)
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

In [17]:
fig = px.bar(
    df_pivot,
    x="Country Name",
    y="SP.POP.TOTL",
    title="TOP 6 Countries By 2015 Population,Total",
    color='Country Name',
    labels={"SP.POP.TOTL":"2015 Population,Total"}
).update_xaxes(categoryorder="total descending")
fig.show()

In [18]:
fig = px.bar(
    df_pivot,
    x="Country Name",
    y="GB.XPD.RSDV.GD.ZS",
    title="TOP 6 Countries by 2015 Research and Development Expenditure(% of GDP)",
    color='Country Name',
    labels={"GB.XPD.RSDV.GD.ZS":"2015 Research and Development Expenditure(% of GDP)"}
    
).update_xaxes(categoryorder="total descending")
fig.show()

In [19]:
df_new = result.query("indicator in ['NY.GDP.PCAP.PP.CD','SP.POP.TOTL','GB.XPD.RSDV.GD.ZS','IP.JRN.ARTC.SC','TX.VAL.TECH.MF.ZS']"	)
df_new

      Year         value  ... Income Group    Lending Type
32    2015  5.294501e+04  ...  High income  Not classified
33    2016  5.378162e+04  ...  High income  Not classified
34    2017  5.342879e+04  ...  High income  Not classified
35    2018  5.361022e+04  ...  High income  Not classified
821   2015  1.981793e+01  ...  High income  Not classified
...    ...           ...  ...          ...             ...
3915  2020  3.294841e+08  ...  High income  Not classified
5230  2015  2.717420e+00  ...  High income  Not classified
5231  2016  2.761450e+00  ...  High income  Not classified
5232  2017  2.817410e+00  ...  High income  Not classified
5233  2018  2.837660e+00  ...  High income  Not classified

[148 rows x 8 columns]

In [20]:
df_pivot2 = df_new.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot2.sample(5)

indicator  Year Country Code  ...   SP.POP.TOTL TX.VAL.TECH.MF.ZS
30         2020          ARE  ...  9.890400e+06               NaN
10         2016          IND  ...  1.324517e+09          7.681524
14         2017          CHN  ...  1.386395e+09         30.908694
22         2018          IND  ...  1.352642e+09          9.081064
34         2020          IND  ...  1.380004e+09               NaN

[5 rows x 11 columns]

In [21]:
fig = px.line(df_pivot2,
    x="Year",
    y="TX.VAL.TECH.MF.ZS",
    title="TOP 6 Countries by High-technology exports (% of manufactured exports)",
    color='Country Name',
    labels={"Year":"Year","TX.VAL.TECH.MF.ZS":"High-technology exports (% of manufactured exports)"},
    hover_name='Country Name',
    
)
fig.update_xaxes(rangeslider_visible=True)
fig.show()

In [22]:
fig = px.scatter(
    df_pivot.dropna(),
    x="NY.GDP.PCAP.PP.CD",
    y="IP.JRN.ARTC.SC",
    title="TOP 6 Countries by 2015 Scientific and Technical Journal Articles",
    labels={"NY.GDP.PCAP.PP.CD":"2015 GDP per Capita,PPP(current international $)","IP.JRN.ARTC.SC":"2015 Scientific and Technical Journal Articles"},
    color='Country Name',
    hover_name='Country Name',
    size="SP.POP.TOTL",
    size_max=75
)
fig.show()