<a href="https://colab.research.google.com/github/SwapanGupt/data690_SwapanGupta/blob/main/Assignment03/Assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

## Write a program that generates 100 random integers between 0 and 9

## 1. Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [ ]:
import random as rd

for i in range(10):
    for j in range(10):
        print(rd.randint(0, 9),end=" ")
    print("")

4 1 3 7 6 7 6 9 7 2
5 1 8 8 3 5 4 5 3 1
3 8 1 3 2 8 8 8 1 3
3 5 6 0 2 9 7 7 7 4
7 9 8 5 4 1 2 5 1 6
4 5 3 3 2 3 6 9 7 3
1 6 0 9 9 9 9 4 1 1
2 7 7 0 3 3 8 8 7 1
5 8 3 9 9 6 2 8 6 0
8 7 4 6 1 2 4 8 2 7

## 2.If the random number is an odd number, print "@" instead

In [ ]:
for i in range(10):
    for j in range(10):
        a=rd.randint(0,9)
        if(a%2!=0):
            print("@",end=" ")
        else:
            print(a,end=" ")
    print("")

@ 4 6 0 @ @ @ 2 6 8
0 @ 6 2 2 2 @ 8 8 2
@ @ 4 @ @ 8 4 8 @ @
@ 0 6 @ 0 0 @ @ 6 @
@ @ 2 @ 2 @ @ @ @ 4
8 @ 4 @ @ 0 @ @ 0 @
@ 2 @ @ @ 8 @ @ 6 @
@ @ @ 8 @ 4 8 2 @ 6
@ 6 6 4 @ @ 0 @ 0 @
6 8 8 4 @ 6 @ @ 4 @

## 3.Calculate and Print the total of each row separated by *

In [ ]:
for i in range(10):
    result=0
    for j in range(10):
        val =rd.randint(0, 9)
        result+=val
        print(val,end=" ")
    print("*",result)

6 3 0 2 5 3 1 6 2 7 * 35
7 8 7 6 7 7 3 0 7 5 * 57
3 5 0 3 4 0 0 9 2 3 * 29
0 4 5 1 1 4 0 3 0 8 * 26
3 9 9 8 7 4 4 1 6 4 * 55
8 6 4 7 1 4 7 9 7 1 * 54
4 5 8 2 1 2 4 5 8 8 * 47
5 1 8 7 5 6 8 5 6 5 * 56
0 9 8 5 8 8 9 8 2 2 * 59
6 5 7 2 6 9 1 2 7 9 * 54

## 4.Optional: Surround the matrix with asterisks (*)

In [ ]:
for i in range(12):
    print("*",end="")
    for j in range(10):
        if(i<1 or i>=11):
            print("**", end="")
        else:    
            print(rd.randint(0, 9),end=" ")
    print("*")

**********************
*1 7 1 5 0 1 6 8 4 3 *
*1 5 6 1 3 3 0 9 0 5 *
*7 6 0 2 5 0 1 8 7 6 *
*0 4 2 6 7 1 8 9 2 6 *
*2 7 0 9 6 6 0 2 4 6 *
*2 2 2 3 2 1 6 2 1 1 *
*0 9 3 6 1 9 1 2 3 9 *
*2 0 7 3 9 6 4 5 4 7 *
*6 2 5 5 8 6 2 9 1 1 *
*2 2 7 4 3 4 6 0 0 6 *
**********************

## 5.Optional (challenging): Calculate and Print the total of each row and column

In [ ]:
arr = [0,0,0,0,0,0,0,0,0,0]
for i in range(12):
    row_result=0
    for j in range(10):
        if(i==10):
            print("*",end=" ")
        elif(i==11):
            print(arr[j], end=" ")
        else:    
            val =rd.randint(0, 9)
            arr[j]+=val
            row_result+=val
            print(val,end=" ")
    if(i<10):        
        print("*",row_result)    
    else:
        print()

8 8 5 2 8 9 5 5 8 4 * 62
6 2 6 4 7 4 2 4 2 9 * 46
6 8 1 5 2 9 5 8 1 3 * 48
9 4 1 3 0 4 9 6 6 7 * 49
5 4 0 5 4 3 9 7 0 2 * 39
6 7 0 7 9 1 8 5 4 5 * 52
7 4 2 0 8 0 3 7 0 3 * 34
7 1 9 3 3 2 2 7 0 9 * 43
4 5 9 9 2 6 5 5 8 5 * 58
3 4 2 3 1 2 0 5 9 4 * 33
* * * * * * * * * *
61 47 35 41 44 40 48 59 38 51